/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
    background-color: #0f0822;
    min-height: 100vh;

}
html {
  scroll-behavior: smooth;
}